@use "../settings/variables";
@use "../tools/functions";

@mixin focus-skip-link {
	// --outline-color: #{functions.light-dark(
	// 		variables.$background-light-dark-color,
	// 		variables.$background-lighter-gray-color
	// 	)};

	outline: variables.$border-1 solid var(--outline-color);
	outline-offset: variables.$space-2;
}

@mixin focus-input {
	--focus-color: #{functions.light-dark(
			variables.$orange,
			variables.$white-orange
		)};

	outline: variables.$border-05 solid var(--focus-color);

	// outline-offset: variables.$space-2;
}
