@use "../settings/variables";
@use "../tools/functions";

@mixin focus-skip-link {
	--outline-color: #{functions.light-dark(
			variables.$background-light-dark-color,
			variables.$background-lighter-gray-color
		)};

	outline: variables.$border-1 solid var(--outline-color);
	outline-offset: variables.$space-2;
}

@mixin focus-anchor {
	outline: variables.$border-1 solid var(--focus-color);
	outline-offset: variables.$space-2;
}

@mixin focus-input {
	outline: variables.$border-1 solid var(--focus-color);
	outline-offset: variables.$space-2;
}

@mixin focus-button {
	outline: variables.$border-1 solid var(--focus-color);
	outline-offset: variables.$space-2;
}
