@mixin center-flex($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin all-center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin margin-block-1p6rem {
	margin-inline: 1.6rem 1.6rem;
}

@mixin limit-width-desktop {
	max-width: 1024px;
	margin-inline: auto;
}

@mixin center-position-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
