@use "../settings/variables";
@use "../tools/mixins";

body {
	display: grid;
	place-content: center;
	padding-inline: variables.$space-4;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: variables.$primary-font;

	@include mixins.body-lg;
}
