@use "../settings/variables";
@use "../tools/mixins";

body {
	padding-inline: variables.$space-4;
	padding-block-start: variables.$space-8;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: variables.$primary-font;

	@include mixins.body-lg;
}
