@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

a {
	--hover-text-color: #{functions.light-dark(
			variables.$gray-200,
			variables.$light-gray-400
		)};
	--active-text-color: #{functions.light-dark(
			variables.$light-black,
			variables.$light-gray-100
		)};

	color: var(--text-color);
	text-decoration: none;

	&:hover {
		@media (hover: hover) {
			color: var(--hover-text-color);
		}
	}

	&:focus-visible {
		@include mixins.focus-anchor;
	}

	&:active {
		color: var(--active-text-color);
	}
}
