// Name color
$_cultured: oklch(98.04% 0.003 48.72deg);
$_eerie-black: oklch(23.65% 0.005 67.59deg);
$_pure-white: oklch(100% 0 0deg);

// Colors
$grey: oklch(32.11% 0 0deg);
$orange: oklch(75.23% 0.166 62.59deg);
$white-orange: $_cultured;

// Background
$white-background: $_cultured;
$dark-background: oklch(23.65% 0.005 67.59deg);
$background-white: $_pure-white;
$background-grey: $_pure-white;
$background-light-grey: oklch(40.54% 0 0deg);

// Shadow
$shadow-grey: oklch(98.04% 0.003 48.72deg / 8%);
$shadow-orange: oklch(41.22% 0.064 88.9deg / 16%);
$shadow-white: oklch(98.04% 0.003 48.72deg / 8%);

// Text color
$text-color-black: $_eerie-black;
$text-color-white: $_pure-white;

// Accent color checkbox
$accent-color-white: $_pure-white;
$accent-color-orange: oklch(75.23% 0.166 62.59deg);
