// Milliseconds
$time-001: 100ms;
$time-002: 200ms;
$time-003: 300ms;
$time-004: 400ms;
$time-005: 500ms;
$time-006: 600ms;
$time-007: 700ms;
$time-008: 800ms;
$time-009: 900ms;

// Seconds
$time-1: 1s;
$time-2: 2s;
$time-3: 3s;
$time-4: 4s;
$time-5: 5s;
$time-6: 6s;
$time-7: 7s;
$time-8: 8s;
$time-9: 9s;
$time-10: 10s;
$time-11: 11s;
