// Weight
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

// Font Family
// @font-face {
// 	font-family: Poppins;
// 	src: url("@fonts/Poppins/Poppins-Thin.woff2") format("woff2");
// 	font-weight: $weight-thin;
// 	font-style: normal;
// font-display: swap;
// }

// @font-face {
// 	font-family: Poppins;
// 	src: url("@fonts/Poppins/Poppins-Light.woff2") format("woff2");
// 	font-weight: $weight-light;
// 	font-style: normal;
// font-display: swap;
// }

@font-face {
	font-family: Poppins;
	src:
		local("Poppins Regular"),
		local("Poppins-Regular"),
		url("@fonts/Poppins/Poppins-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: $weight-medium;
	font-display: swap;
}

@font-face {
	font-family: Poppins;
	src:
		local("Poppins Regular"),
		local("Poppins-Regular"),
		url("@fonts/Poppins/Poppins-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: $weight-normal;
	font-display: swap;
}

@font-face {
	font-family: Poppins;
	src:
		local("Poppins SemiBold"),
		local("Poppins-SemiBold"),
		url("@fonts/Poppins/Poppins-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: $weight-semibold;
	font-display: swap;
}

@font-face {
	font-family: Poppins;
	src:
		local("Poppins Bold"),
		local("Poppins-Bold"),
		url("@fonts/Poppins/Poppins-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: $weight-bold;
	font-display: swap;
}

// @font-face {
// 	font-family: Poppins;
// 	src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
// 		url("@fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2");
// 	font-weight: $weight-extra-bold;
// 	font-style: normal;
// 	font-display: swap;
// }

$_font-fallback:
	-apple-system,
	blinkmacsystemfont,
	avenir next,
	avenir,
	helvetica neue,
	helvetica,
	ubuntu,
	roboto,
	noto,
	segoe ui,
	arial,
	sans-serif;
$_font-family: "Poppins", $_font-fallback;
$primary-font: $_font-family;

// Typography scale
$fs-base: 62.5%;

// Typography applications
$fs-body-sm: 1.2rem;
$fs-body-md: 1.4rem;
$fs-body-lg: 1.6rem;
$fs-title-xs: 1.2rem;
$fs-title-sm: 1.4rem;
$fs-title-md: 1.6rem;
$fs-title-lg: 2rem;
$fs-title-xl: 2.4rem;
$fs-title-2xl: 2.8rem;
$fs-title-3xl: 3.2rem;
$fs-title-305xl: 3.6rem;
$fs-title-4xl: 4rem;

// Line Height
$lh-1: 1.6rem;
$lh-2: 2rem;
$lh-3: 2.4rem;
$lh-4: 2.8rem;
$lh-5: 3.2rem;
$lh-505: 3.6rem;
$lh-6: 4rem;
$lh-7: 4.8rem;
