@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.a-calculate-button {
	--background-color: #{functions.light-dark(
			variables.$background-orange,
			variables.$background-white
		)};

	width: 100%;
	padding: variables.$space-3;
	border-radius: variables.$border-radius-2;
	background-color: var(--background-color);
	color: variables.$text-color-black;
	font-size: variables.$fs-title-lg;
	font-weight: variables.$weight-medium;
}
